.backgroundOverlay {
    background: #1b1b62;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.overlay {
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
    background: #d8e1fe;
    z-index: 6;
    height: 100%;
}

.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4rem;
    height: 80%;
    width: 80%;
    background: #161616;
    overflow: hidden;
    z-index: 7;
}

.overlay2 {
    clip-path: polygon(0 0, 60% 0%, 40% 100%, 0% 100%);
    background: #912a2c;
    height: 100%;
    z-index: 8;
}

.formContainer {
    position: absolute;
    top: 1rem;
    z-index: 10;
    text-align: center;
    right: 0;
    height: 100%;
    width: 100%;
}

.formContainerIn {
    top: 4rem;
}

.heading {
    font-size: 7.8rem;
    margin: 0 0 12vh 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.headingIn {
    margin: 0 0 12vh 0 !important;
}

.image {
    position: absolute;
    left: 0;
    top: 2rem;
    height: 100%;
    z-index: 9;
    width: 60%;
}

.input {
    width: 90%;
    color: #fff;
    background: rgba(196, 196, 196, 0.2);
    padding: 2rem;
    font-size: 3.5rem;
    border-radius: 0.3rem;
    margin-bottom: 4vh;
}

.inputIn {
    margin-bottom: 12vh;
}

.button {
    width: 98%;
    color: #fff;
    background: #1b1b62 !important;
    text-transform: capitalize;
    padding: 2rem;
    font-size: 4rem;
    border-radius: 0.3rem;
}

.eye {
    position: absolute;
    top: 50%;
    right: 5rem;
    font-size: 3rem;
    transform: translateY(-50%);
    color: #1b1b62;
}

.note {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}

@media only screen and (min-width: 670px) {
    .formContainer {
        width: 40%;
        right: 2rem;
        text-align: start;
    }
    .heading {
        margin: 0 0 1.5rem 0;
    }
    .input {
        font-size: 1.5rem;
    }
    .button {
        font-size: 2rem;
    }
    .eye {
        right: 2rem;
        font-size: 2rem;
    }
    .note {
        font-size: 1.3rem;
    }
}