.backgroundOverlay {
    background: #1b1b62;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.overlay {
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
    background: #d8e1fe;
    z-index: 6;
    height: 100%;
}

.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4rem;
    height: 80%;
    width: 80%;
    background: rgba(22, 22, 22, 0.84);
    z-index: 7;
    backdrop-filter: blur(0.5rem);
}

.overlay2 {
    clip-path: polygon(0 0, 60% 0%, 40% 100%, 0% 100%);
    background: #912a2c;
    height: 100%;
    z-index: 8;
}

.formContainer {
    position: absolute;
    top: 1rem;
    z-index: 10;
    text-align: center;
    left: 50%;
    height: 100%;
    color: #fff;
    width: 90%;
    transform: translateX(-50%);
}

.heading {
    font-size: 5.8rem;
    margin: 0 0 1vh;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.headingIn {
    margin: 0 0 6vh 0 !important;
}

.image {
    position: absolute;
    left: 0;
    top: 2rem;
    height: 100%;
    z-index: 9;
    width: 60%;
}

.circleOne {
    position: absolute;
    top: 4vh;
    left: 4vw;
    width: 15vw;
    height: 15vw;
    background: linear-gradient(to right top, #1845ad, #23a2f6);
    border-radius: 50%;
}

.circleTwo {
    position: absolute;
    bottom: 4vh;
    right: 4vw;
    width: 15vw;
    height: 15vw;
    background: linear-gradient(to left bottom, #ff512f, #f09819);
    border-radius: 50%;
}

.input {
    width: 100%;
    color: #fff;
    background: rgba(196, 196, 196, 0.2);
    padding: 2vh 2vw;
    font-size: 2.4rem;
    border-radius: 0.3rem;
    margin-bottom: 4vh;
}

.inputIn {
    margin-bottom: 6vh;
}

input,
textarea {
    background: none;
    border: none;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: none;
}

.button {
    width: 100%;
    color: #fff;
    text-transform: capitalize;
    padding: 2vh 2vw;
    font-size: 4rem;
    border-radius: 0.3rem;
}

.eye {
    position: absolute;
    top: 70%;
    right: 2rem;
    font-size: 3rem;
    transform: translateY(-50%);
    color: #6c63ff;
}

.signup .input {
    margin-bottom: 1vh;
}

.note {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}

.label {
    font-size: 1.6rem;
    /* display: block; */
    display: inline-block;
    width: 100%;
    text-align: start;
    font-weight: 800;
    margin-bottom: 1vh;
}

@media only screen and (min-width: 671px) {
    .formContainer {
        width: 40%;
        left: initial;
        right: 2rem;
        text-align: start;
        transform: none;
    }
    .mainContainer {
        overflow: hidden;
        backdrop-filter: none;
    }
    .label {
        font-size: 1rem;
    }
    .input {
        font-size: 1.5rem;
    }
    .button {
        font-size: 2rem;
    }
    .eye {
        font-size: 2rem;
    }
    .note {
        font-size: 1.3rem;
    }
}